DUSTROUTE_SERVER_ADDRESS=127.0.0.1:25565
DUSTROUTE_ASSIST_PLAYER=YourMinecraftName
DUSTROUTE_BOT_BRIDGE=127.0.0.1:25580
DUSTROUTE_MC_VERSION=1.21.11
DUSTROUTE_READ_ONLY=true
DUSTROUTE_PREVIEW_REQUIRED=true
DUSTROUTE_MCP_TOOL_PROFILE=default
